
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: url(https://images.unsplash.com/photo-1517836357463-d25dfeac3438?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  
  }
  
  
  header {
    background-color: #222;
    color: #fff;
    padding: 20px;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-top: 0;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  section {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ccc;
    background-color:silver;
  }
  
  section h2 {
    margin-bottom: 10px;
  }
  
  section ul {
    margin-bottom: 10px;
  }
  
  footer {
    background-color: #222;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  